<strong>{{ album.artist }}</strong>: {{ album.album_title }}

<ul>
    {% for song in album.songs_set.all %}
        <li>{{ song.song_title }}</li>
    {% endfor %}
</ul>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music:favorite' album.id %}" method="post">
    {% csrf_token %}
    {% for song in album.songs_set.all %}
    <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
    <label for="song{{ forloop.counter }}">
        {{ song.song_title }}
        {% if song.is_favorite %}
            Favorite!
        {% endif %}
    </label> <br>
    {% endfor %}
    <input type="submit" value="Favorite">
</form>