{% if all_albums %}
<h3>Here are all my albums:</h3>
<ul>
    {% for album in all_albums %}
        <li><a href="{% url 'music:detail' album.id %}">{{ album.album_title}}</a></li>
    {% endfor %}
</ul>
{% else %}

    <h3>You don't have any albums.</h3>

{% endif %}